body {
    font-family: "Open Sans", sans-serif; }
    
h1, h2, h3 {
  font-family: "Karma", serif;
  font-weight: bold;
  font-size: 2.5rem;
  }
/* #logo {
    font-family: "Karma", serif;
    font-size: 2rem;
    padding-bottom: 0;
} */

/* #logo-img {
    margin-right: .6rem;
}   */
.navbar-brand {
    font-family: "Karma", serif;
    font-size: 1.5rem;
} 




#main {
    background-image: url("../img/main-cat.jpg");
    background-position: center;
    background-size: cover;
}

#main h1 {
  font-size: 3.5rem;
}

.main-content {
  padding-bottom: 300px;
}

@media (max-width: 575px) {
    #main {
        background-image: none;
        background-color: rgb(248, 211, 216);
    }

    .main-content {
      padding-bottom: 30px;
    }


}



p {
  font-size: 1.3rem;
}
.row-content {
    padding: 50px 0;
  /* border-bottom: 1px ridge; */
    /* min-height: 200px;  */
}

.main-cover {

    padding-left: 25px;
    padding-right: 25px;

}

.main-cover h1 {
    font-weight: 600;
}

.main-cover p {
    font-size: 1.5rem;
}
.address {
  font-size: 1.75rem;
}
.phone {
  font-size: 1.75rem;
}
.site-footer {
  padding: 20px 0; }

/* My borders showing different div */
/* 
.col, div[class^="col-"], label[class^="col-"] {
    border: 1px solid red;
    margin: 2px; }
  
  .row {
    border: 3px solid blue;
    padding: 2px;
    margin: 5px; }
  
  .container, .container-fluid {
    border: 3px solid green;
    padding: 2px;
    margin: 5px; }
  
  .media {
    border: 3px solid yellow;
    padding: 2px;
    margin: 5px; }
  
  .card {
    border: 3px solid purple;
    padding: 2px;
    margin: 5px; }
  
  .orange-border {
    border: 1px solid green; }
  */